In [2]:
import argparse
import os
import pandas as pd
import requests
import shutil
from tqdm.auto import tqdm
import wget

data = '/Volumes/Parler/data/ddosecrets-parler-images-listing.csv'
output_dir = '/Volumes/Parler/downloads/images/'

base_url = 'https://s3.wasabisys.com/ddosecrets-parler-images/'

In [3]:
# Get list of images

df = pd.read_csv(data, header=0, names=['date', 'time', 'size', 'filename'], on_bad_lines='skip')

In [4]:
df.head()

         date      time     size         filename
0  2021-01-17  11:35:19  1527282   0001bzcCwH.png
1  2021-01-17  11:35:19   550792  00049AFFY3.jpeg
2  2021-01-17  11:35:19   429993  0004DsKCnI.jpeg
3  2021-01-17  11:35:19   238120  0005i6v6Wv.jpeg
4  2021-01-17  11:35:19    31940  0008cVDtNk.jpeg

In [5]:
df.shape

(1071966, 4)

In [6]:
df['size'].sum()/1e+9 # GB

252.763587883

In [12]:
files = df['filename'].tolist()

In [13]:
files[0:3]

['0001bzcCwH.png', '00049AFFY3.jpeg', '0004DsKCnI.jpeg']

In [14]:
# Testing ...


for each in files[0:3]:
    print(each)
    url = base_url + each
    print(url)
    wget.download(url, output_dir)

0001bzcCwH.png
https://s3.wasabisys.com/ddosecrets-parler-images/0001bzcCwH.png
00049AFFY3.jpeg
https://s3.wasabisys.com/ddosecrets-parler-images/00049AFFY3.jpeg
0004DsKCnI.jpeg
https://s3.wasabisys.com/ddosecrets-parler-images/0004DsKCnI.jpeg

In [14]:
# Using script to download all the images for 252 GB